.custom-dropdown .btn {
    color: white;
    background-color: transparent;
    border: none; 
    display: flex;
    align-items: center; 
  }
  
  .custom-dropdown .btn:focus {
    background-color: transparent;
    border: transparent;
    outline: none;
    background: none;
    box-shadow: none;
  }
  
  .custom-dropdown .dropdown-menu {
    background-color: black;
    margin-top: 0;
    border: none;
    /* Remove the default border */
  }
  
  .custom-dropdown .dropdown-item {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .custom-dropdown .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .custom-dropdown .btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .custom-dropdown .dropdown-menu {
      padding: 8px;
    }
  
    .custom-dropdown .dropdown-item {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  .dropdown{
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #d5d4d4;
  }
  .dropdown:hover{
    color: white;
  }